body {
    font-family: "Rubik";
    background-color: #ffffff;
    color: black;
    margin: 0;
    width: 1680px;
    height: 785px;
    border: 2px solid #dddddd;
    border-radius: 5px;
}

.header__container {
    margin: 0 auto;
}

a {
    text-decoration: none;
}

button {
    font-family: "Rubik";
    border: 0;
    background-color: #ffffff;
}

button:active {
    opacity: 0.5;
}

ul {
    list-style-type: none;
    padding: 0;
}