.third__section__text {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.third__section__title {
    color: #0B132A;
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
    width: 390px;
    margin-top: 70px;
    margin-bottom: 0;
}

.third__section_paragraph {
    color: #4F5665;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    width: 480px;
}

.reviews {
    display: flex;
    flex-direction: row;
    height: 290px;
    justify-content: center;
    padding-inline: 100px;
    margin-top: 58px;
}

.first__review {
    display: flex;
    border-radius: 10px;
    border: 2px solid #F53838;
    background: #FFF;
    flex: 1;
    margin-inline: 40px;
    height: 230px;
    width: 350px;
    padding-inline: 25px;
    flex-direction: column;
    align-items: center;
}

.first__review__image {
    display: flex;
    margin-top: 20px;
    align-items: center;
    height: 70px;
}

.rating {
    margin-left: 55px;
}

.account__image {
    width: 50px;
    height: 50px;
}

.first__review__text {
    color: #0B132A;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    display: flex;
    width: 297px;
    margin-top: 10px;
    align-items: center;
}

.second__review {
    display: flex;
    border-radius: 10px;
    border: 2px solid #DDD;
    background: #FFF;
    flex: 1;
    margin-inline: 40px;
    height: 230px;
    padding-inline: 25px;
    flex-direction: column;
    align-items: center;
}

.third__review {
    display: flex;
    border-radius: 10px;
    border: 2px solid #DDD;
    background: #FFF;
    flex: 1;
    margin-inline: 40px;
    height: 230px;
    padding-inline: 25px;
    flex-direction: column;
    align-items: center;
}

.hometown {
    color: #4F5665;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

.name__text {
    display: flex;
    flex-direction: column;
    margin-left: 21px;
    align-items: start;
}

.name {
    display: flex;
    color: #0B132A;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    width: 149px;
}

@media screen and (min-width: 320px) and (max-width: 1380px) {
    .reviews {
        display: flex;
        flex-wrap: wrap;
    }

    .first__review {
        margin-bottom: 50px;
        height: 230px;
        width: 350px;
    }

    .second__review {
        margin-bottom: 50px;
        height: 230px;
        width: 350px;
    }

    .third__review {
        height: 230px;
        width: 350px;
    }
}

@media screen and (min-width: 320px) and (max-width: 590px) {
    .third__section__title {
        display: flex;
        flex-direction: column;
        width: 250px;
    }

    .third__section_paragraph {
        display: flex;
        flex-direction: column;
        width: 250px;
    }

    .rating {
        display: none;
    }

    .first__review {
        width: 160%;
        height: 100%;
    }

    .first__review__image {
        width: 100%;
    }


    .second__review {
        width: 160%;
    }

    .second__review__image {
        width: 100%;
    }

    .third__review {
        width: 160%;
        height: 90%;
    }

    .third__review__image {
        width: 100%;
    }

    .first__review__text {
        width: 100%;
    }
}